/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #333333;
  color: white; 
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: center;
}

.gameButton {
  width: 100px;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  border-radius: 5px;
}

#gameButtonArea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
  border-radius: 10px;
  outline:none;
  border:0;
}
#mistakeCounter, #timerCounter {
  text-align: center;
}

#button1 {
    background: #426321;
}
#button1:active, #button1.lit  {
    background: #aaff54;
}

#button2 {
    background: #36537d;
}
#button2:active, #button2.lit  {
    background: #3de5ff;
}

#button3 {
    background: #8a3044;
}
#button3:active, #button3.lit {
    background: #ff2640;
}

#button4 {
    background: #6e4d1b;
}
#button4:active, #button4.lit  {
    background: #ffcb2e;
}

#button5 {
    background: #5b2e7d;
}
#button5:active, #button5.lit  {
    background: #bd66ff;
}

#button6 {
    background: #2a754d;
}
#button6:active, #button6.lit  {
    background: #4aff9e;
}

.centered {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.optiontext {
  font-family: 'Poppins', sans-serif;
  height: 10px;
  margin:0px;
}
.option {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#optionsection {
  display: flex;
  flex-direction: column;
  background: #424242;
  border-radius: 5px;
  margin: 20px;
}